:root {
  --color-primary: #1890ff;
  --color-bg-header: #ffffff;
  --color-bg-sidebar: #363740;
  --color-white: #ffffff;
  --color-black: #101213;
}

.ant-layout-sider {
  background-color: var(--color-bg-sidebar);
}

.ant-layout-header {
  background-color: var(--color-bg-header);
}

.ant-menu.ant-menu-dark {
  background-color: inherit;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background-color: inherit;
}
