.container {
  background-color: #363740;
  height: 100vh;
  padding: 40px 20px;
}

.auth-content {
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 6px;
}
